<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/RainNight-PrincessHighness/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="RainNight-PrincessHighness" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>
